/********************
YOUR STYLES
*******************/


/* Header */
header {
  display: flex;
  justify-content: center;
}



/* Gallery Styling */
figure img{
    width: 100px;
}

figure {
    background: rgba(97, 97, 97, 0.5);
    border-radius: 2em;
    border: lightblue solid 2px;
    padding: 20px;
    box-shadow: 0.3125em 0.3125em 0.625em black;
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.lg-backdrop {
    background: rgba(62, 76, 99, .87);
}

.lg-image {
    box-shadow: 0 0 30px #333;
}

/* Font Styling */

.banner {
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    color: #C42127;
    background: #B2C5D3;
    border-radius: 6px;
} 
    
p {
    color: lightblue;
    text-align: center;
}

h3 {
    color: #BAAC8C;
    text-align: center;
}

figcaption {
    color: lightblue;
    
}

/* Captions */
.caption {
    display: none;
}

/* Welcome Page */
.logo {
    width: 200px;
    margin: 30em auto;
    padding: 20px;
    background: rgba(97, 97, 97, 0.35);
    border: lightblue solid 5px;
    border-radius: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: width .5s;
}

.logo:hover {
    width: 300px;
}

/* Link Effects ---------------------------------------------------*/
a:link,
a:visited{
    color: #BAAC8C;
    text-decoration: none;
}

a:focus {
    background: #C42127;
}

a:hover {
    color: #BAAC8C;
    margin-left: 0.1875em;
}

a:active {
    background: #F4AF1E;
}



/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background: gray url("../img/texture1.png");
  }
  
    figure {
        width: 25%;
    }
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: gray url("../img/texture1.png");;
  }

    figure {
        width: 50%;
    }
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: gray url("../img/texture1.png");;
  }

    figure {
        width: 90%;
    }
    
/*  Main */
main {
    margin: 0 auto;
    width: 90%;
    
}