/********************
YOUR STYLES
*******************/


/* Header -----------------------------------------------------------------*/
header {
  display: flex;
  justify-content: space-around;
}

.me,
.me1 {
    background: rgba(186, 172, 140, 0.25);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: .5em;
    position: relative;
    width: 40%;
    height: 40%;
    border-radius: .45em;
}



/* Contact -----------------------------------------------------*/
label,
input,
textarea {
  display: block;
  margin: 10px;
  color: #B2C5D3;
  
}

/* score: 0,0,1,1 */
input[type=submit] {
  background: #C42127;
  border: none;
  border-radius: 4px;
  color: #BAAC8C;
  padding: 5px;
}

input:focus,
textarea:focus {
  background: #C42127;
  padding: 10px;
  transition: all .25s;
  color: #BAAC8C;
  outline: none;
  
}


/* Section Styling ------------------------------------------------------------*/

section {
    background: rgba(97, 97, 97, 0.5);
    border-radius: 2em;
    border: lightblue solid 2px;
    padding: 20px;
    margin: 20px;
    max-width: 90%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Gallery Styling ------------------------------------------------------------*/
figure img{
    width: 100px;
    margin: 10px;
}

figure {
    background: rgba(97, 97, 97, 0.5);
    border-radius: 2em;
    border: lightblue solid 2px;
    padding: 20px;
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.lg-backdrop {
    background: rgba(62, 76, 99, .87);
}

.lg-image {
    box-shadow: 0 0 30px #333;
}


/* Font Styling ---------------------------------------------------*/

p {
    color: lightblue;
    text-align: left;
    font-size: 1em;
}

p2 {
    color: lightblue;
    text-align: left;
    font-style: italic;
    padding-left: 20px;
    font-size: .85em;
}

h2 {
    color: #BAAC8C;
    text-align: center;
    font-size: 3em;
}

h3 {
    color: #BAAC8C;
    text-align: left;
    font-size: 2em;
}

h4 {
    color: #BAAC8C;
    text-align: left;
    font-size: 1.25em;
}

.copyright {
    text-align: center;
}

figcaption {
    color: lightblue;
    margin: 10px;
    max-width: 95%
}

.pop-out {
  background: none;
  border-radius: .5em;
  padding: .5em 2em 1em;
  margin: .5em auto 2em auto;
  list-style: none;
  max-width: 75%;
  text-align: left;
}

li {
    color: slategray;
    list-style: none;
}

.skills li {
    border-radius: 8px;
    border: 1px solid #BAAC8C;
    display: inline-block;
    background: lightblue;
    padding: 10px;
    margin: 5px 3px;
}

/* Captions --------------------------------------------------------*/
.caption {
    display: none;
}



/* Link Effects ---------------------------------------------------*/
a:link,
a:visited{
    color: #BAAC8C;
    text-decoration: none;
}

a:focus {
    background: #C42127;
}

a:hover {
    color: #BAAC8C;
    margin-left: 0.1875em;
}

a:active {
    background: #F4AF1E;
}

/* Navigation ----------------------------------------------*/
div {
    text-align: center;
}

.nav {
  text-align: center;
  position: relative;
  display: inline-block;
  list-style: none;
  font-family: 'Oxygen', cursive;
  font-size: .85em;
  font-weight: 400;
}

.nav li {
  float: left;
}

.nav > li a {
  display: block;
  background: rgba(133, 0, 0, 0.14);
  padding: 12px 18px;
  text-decoration: none;
  color: #BAAC8C;
  border-bottom: 1px solid #eee;
  transition: all ease .5s;
}

.nav:hover > li a {
  opacity: .55;
  transition: all ease .5s;
}

.nav > li:hover a {
  opacity: 1;
  color: #C42127;
  border-color: #C42127;
}
































/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background: gray url("../img/texture1.png");
  }
  
    figure {
        width: 25%;
    }
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: gray url("../img/texture1.png");;
  }

    figure {
        width: 50%;
    }
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: gray url("../img/texture1.png");;
  }

    figure {
        width: 90%;
    }
    
/*  Main */
main {
    margin: 0 auto;
    width: 90%;
    
}